<!DOCTYPE html>
<html>
<head>
  <title>WebcamImageCapture</title>
  <%= stylesheet_link_tag    "webcam_image_capture/application", media: "all" %>
  <%= javascript_include_tag "webcam_image_capture/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
